<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @investment_type.name %>
</p>


<%= link_to 'Edit', edit_investment_type_path(@investment_type) %> |
<%= link_to 'Back', investment_types_path %>
