<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @survey_position.position %>
</p>


<%= link_to 'Edit', edit_survey_position_path(@survey_position) %> |
<%= link_to 'Back', survey_positions_path %>
