<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @macro_indicator.name %>
</p>


<%= link_to 'Edit', edit_macro_indicator_path(@macro_indicator) %> |
<%= link_to 'Back', macro_indicators_path %>
