<table id="menu_stuff" style="margin-left: 20px;margin-top: -10px;">
  <tr>
    <td>
      <a href="#">
        <img src="/images/about_ptotem.png" style="width: 100px; height: 100px;"
             onclick="$('#concept_div').fadeIn();$('#concept_partner_div').fadeIn();
                     $('#chatter_div').hide();$('#chatter_partner_div').hide();
                     $('#contact_div').hide();$('#contact_partner_div').hide();
                     $('#careers_div').hide();$('#careers_partner_div').hide();"
        />
      </a>
    </td>

    <td>
      <a href="#">
        <img src="/images/press.png" style="width: 100px; height: 100px;"
             onclick="$('#concept_div').hide();$('#concept_partner_div').hide();
                     $('#contact_div').hide();$('#contact_partner_div').hide();
                     $('#careers_div').hide();$('#careers_partner_div').hide();
                     $('#chatter_div').fadeIn();$('#chatter_partner_div').fadeIn();"
        />
      </a>
    </td>
    <td>
      <a href="#">
        <img src="/images/careers.png" style="width: 100px; height: 100px;"
             onclick="$('#concept_div').hide();$('#concept_partner_div').hide();
                     $('#chatter_div').hide();$('#chatter_partner_div').hide();
                     $('#contact_div').hide();$('#contact_partner_div').hide();
                     $('#careers_div').fadeIn();$('#careers_partner_div').fadeIn();"
        />
      </a>
    </td>
    <td>
      <a href="#">
        <img src="/images/contact_us.png" style="width: 100px; height: 100px;"
             onclick="$('#concept_div').hide();$('#concept_partner_div').hide();
                     $('#chatter_div').hide();$('#chatter_partner_div').hide();
                     $('#contact_div').fadeIn();$('#contact_partner_div').fadeIn();
                     $('#careers_div').hide();$('#careers_partner_div').hide();"
        />
      </a>
    </td>
  </tr>
</table>