 <div style="text-align: right;">
      <a href="http://twitter.com/#!/ptotemlearning"><img src="/images/twitter_logo.png" style="width:35px;height: 35px;"/> </a>
      <a href="http://www.linkedin.com/company/ptotem-learning-projects"><img src="/images/linkedin-logo.png" style="width:35px;height: 35px;"/> </a>
      <a href="https://www.facebook.com/pages/Ptotem-Learning/125071964187317"><img src="/images/facebook-logo.png" style="width:35px;height: 35px; margin-right: 35px;margin-top: -2px"/>

      </a>



    </div>