
<div id="full_box" style="margin-top: 100px;">
  <div id="reality" style="margin-left: -50px;">
    <div class="backdrop_one" style="height:120px;margin-left: -10px;"></div>
    <table style="margin-top: -145px;">
      <tr>
        <td style="width:250px;">
          <div style="margin-left: 10px;">
            <span style="font-size: 120px; font-weight: bolder"> r </span>
            <span style="font-size: 60px;margin-left: -50px">eality</span>
          </div>
        </td>
        <td id="reality_info" style="display:none;">
          <div style="font-size: 12px;padding: 10px;margin-top: 20px;">
            Reality is complex. Every day, you make decisions that require integration of many diverse theoretical
            constructs.<br/>
            Reality is unpredictable. Ever changing environments require you to be agile in adjusting to these dynamics
            by iterating decisions swiftly.<br/>
            Reality is merciless. Failure in the real world does not afford second chances without a high cost.<br/>
          </div>
        </td>
      </tr>
    </table>

  </div>

  <div id="in_a_box" style="margin-left: -50px;">
    <div class="backdrop_two" style="height:120px;margin-left: -10px;"></div>
    <table style="margin-top: -110px;">
      <tr>
        <td style="width:300px;">
          <div style="margin-left: 15px;">
            <span style="font-size: 60px;">in a </span>
            <span style="font-size: 90px;font-weight: bolder">b</span>
            <span style="font-size: 60px;margin-left: -5px;">ox</span>
          </div>
        </td>
        <td id="in_a_box_info" style="display:none;">
          <div style="font-size: 12px;padding: 10px;margin-top: -20px;">
            Ptotem creates sandboxes to explore this reality. With us, you can play, iterate and
            experiment to your heart’s content, knowing that you will always get a second chance. And in the process,
            gain experience and insights in a couple of days, which would otherwise take you years.
          </div>
        </td>
      </tr>
    </table>

  </div>


</div>

